svg
    width: 300px

.wrapper
    width: 800px
    border: 5px solid #000
    margin: 0 auto
    text-align: center

.increments
    background-color: #e3f9cf

.smaller
    background-color: red

.bigger
    background-color: yellow